{
  "presets": ["react-native"],
  "plugins": [
    "babel-plugin-transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-es2015-block-scoping",
    "transform-es2015-classes",
    "transform-flow-strip-types"
  ]
}
